* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    font-family: "Inter", sans-serif;
}

:root {

    --cor-primaria: #1D2123;
    --cor-secundaria: #1A1E1F;
    --cor-terciárias: #6C63FF;
    --cor-quaternárias: #00FF6F;

    --cor-alternativo: #E8F0FE;

    --fundo-primario-dark: #1f1f1f;
    --fundo-secundario-dark: #2B3035;

    --cor-btn1: #25d366;
    --cor-btn2: #5F58D9;

}