* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    font-family: "Inter", sans-serif;
}

:root {

    --cor-primaria: #1D2123;
    --cor-secundaria: #1A1E1F;
    --cor-terciárias: #6C63FF;
    --cor-quaternárias: #00FF6F;

    --cor-fundo1: #1448E6;
    --cor-fundo2: #3478F7;
    --cor-fundo3: #020618;
    --cor-fundo4: #0F172B;
    --cor-fundo5: #1D293D;

    --cor-branco: #FFFFFF;
    --cor-vermelho: #E7000B;
    --cor-vermelho-escuro: #C10007;

    --cor-alternativo: #E8F0FE;

    --cor-btn1: #25d366;
    --cor-btn2: #5F58D9;
    --cor-btn3: #1D293D;

    --cor-borda1: #1D293D;


}