body {

    /* background: var(--cor-loja3); */

    background: var(--cor-loja2);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/* nav,
.esquerda {
    background-color: var(--cor-loja4);
} */

#fecharMenuMobile {
    display: none;
}


button {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    /* cima, direita, baixo, esquerda */
    padding: 20px 30px 20px 30px;

    backdrop-filter: blur(5px);
    /* box-shadow: rgb(39, 3, 95) 0px 2px 8px 0px; */
    /* background: var(--cor-loja4); */
    /* background: var(--cor-loja3); */

    span {
        color: var(--cor-texto1);
        font-size: 30px;
        font-weight: 1000;

        span {
            color: var(--cor-fundo2);
        }
    }

    label {
        display: flex;
        align-items: center;

        width: 600px;

        padding: 13px;

        color: var(--cor-texto2);
        background-color: var(--cor-texto1);

        border: 5px solid var(--cor-borda);
        border-radius: 20px;

        &:hover {
            /* border: 5px solid var(--cor-borda2); */
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }

        &:focus-within {
            border: 5px solid var(--cor-borda2);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            i {
                color: var(--cor-borda2);
            }
        }

        span {
            color: var(--cor-texto1);
        }

        i {
            cursor: pointer;
        }

        input {
            width: 85%;

            /* padding: 10px; */
            margin: 0px 10px;

            color: var(--cor-texto2);

            border: none;
            outline: none;
        }

        button {
            border: none;
            background-color: transparent;
            color: var(--cor-borda);
        }
    }

    .icons-menu {
        display: flex;

        .bag-area,
        .menu-mobile {
            position: relative;
            display: inline-block;
            color: var(--cor-texto1);

            font-size: 25px;
            margin: 0px 10px;

            &:hover {
                cursor: pointer;
                color: var(--cor-borda);
            }
        }

        .menu-mobile {
            display: none;
        }

        #contadorCarrinho {
            position: absolute;
            top: -8px;
            right: -8px;
            background: red;
            color: white;
            border-radius: 50%;
            padding: 2px 7px;
            font-size: 12px;
            font-weight: bold;

            &.pop {
                animation: pop .3s ease;
            }
        }

    }
}

/* Manu lateral */

.esquerda {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    width: 250px;
    max-width: 300px;

    padding: 10px;
    /* margin-right: 200rem; */

    height: 100vh;

    .menu-left {
        color: var(--cor-texto1);


        .info-client {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* padding: 15px 0px; */
            padding: 120px 0px 30px 0px;

            img {
                width: 30%;
                border: none;
                border-radius: 50%;
                margin-bottom: 15px;
            }
        }

        ul {

            width: 100%;

            display: flex;
            flex-direction: column;

            li {
                display: flex;
                align-items: center;

                font-size: 16px;

                cursor: pointer;
                position: relative;
                list-style: none;

                padding: 15px;
                margin: 0px 0px;

                width: 100%;

                border-radius: 5px;
                /* border: 1px solid #ccc; */

                &:hover {
                    background-color: var(--cor-loja4);
                }

                i {
                    margin-right: 10px;
                }

                details {

                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;

                    width: 100%;

                    summary {
                        display: flex;
                        width: 100%;

                        cursor: pointer;
                        list-style: none;
                        color: #fff;

                        span {
                            display: block;

                            backdrop-filter: blur(6px);

                            color: #fff;
                            white-space: nowrap;
                            cursor: pointer;
                        }
                    }

                    /* &[open] i {
                        animation: drop .25s ease;
                        border-left: 3px solid #175cff;
                    } */

                    &[open]>summary {

                        border-left: 2px solid var(--cor-texto1);

                        i {
                            margin-left: 10px;
                        }

                    }


                    &[open] span {

                        width: 100%;

                    }

                    .list-deitails {
                        display: flex;
                        flex-direction: column;

                        margin: 10px 0px;
                        padding: 15px;


                        span {
                            padding: 10px 10px;
                            border-left: 2px solid var(--cor-texto1);

                            &:hover {
                                color: var(--cor-borda2);
                                border-radius: 0px 5px 5px 0px;
                                background-color: var(--cor-loja3);
                            }
                        }
                    }

                    /* Remove o ícone padrão da setinha */
                    &::-webkit-details-marker {
                        display: none;
                    }

                }
            }

        }
    }

    /* Animação */
    @keyframes drop {
        from {
            opacity: 0;
            transform: translateY(-5px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

}

/* Carrinho */

#fecharCarrinho {
    color: #fff;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 23px;
}

#carrinho {
    position: fixed;
    top: 0;
    right: -350px;
    z-index: 9999;

    width: 350px;
    height: 100vh;

    background: var(--cor-secundaria);
    color: #fff;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);

    padding: 20px;
    transition: .4s;

    h2 {
        margin-bottom: 10px;
    }

    &.aberto {
        right: 0;
    }

    #lista-carrinho p {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid var(--cor-btn2);
    }

    #lista-carrinho button {
        background: red;
        color: white;
        border: none;
        padding: 4px 7px;
        cursor: pointer;
    }

    .btn-finalizar {
        background: var(--cor-borda2);
        color: white;
        padding: 10px;
        width: 100%;
        border: none;
        cursor: pointer;
        margin-top: 15px;

        &:hover {
            background-color: var(--cor-card);
        }
    }
}

main {

    margin: 10rem 300px;

    /* .home{} */

    /* Produtos */

    .produtos {

        header {

            display: flex;
            justify-content: center;

            img {
                width: 100%;
                height: 480px;

                border-radius: 15px;
                object-fit: cover;
            }
        }

        h1 {
            color: var(--cor-texto1);

            text-align: center;

            width: 100%;
            padding: 40px;

            /* position: sticky;
            top: 100px;
            z-index: 1;

            backdrop-filter: blur(20px);
            background-color: var(--cor-loja3); */
        }

        .lista-produtos {
            display: flex;
            flex-wrap: wrap;

            gap: 12px;

            .card {
                width: 250px;
                height: 400px;

                padding: 15px;

                border-radius: 15px;

                background: var(--cor-card);
                color: #fff;

                /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: center;

                &:hover {
                    box-shadow: #2069FF 0px 3px 8px;
                    /* scale: 1.01; */
                    z-index: 0;
                }

                img {
                    width: 100%;
                    border-radius: 10px;

                    /* border: 1px solid #ccc; */

                    object-fit: cover;
                }

                .btn-comprar {
                    width: 100%;
                    padding: 10px;
                    margin-top: 15px;
                    border: none;
                    border-radius: 10px;
                    background: var(--cor-btn2);
                    color: white;
                    font-size: 16px;
                    cursor: pointer;
                }

                .btn-comprar:hover {
                    background: var(--cor-borda2);
                }
            }
        }


    }
}

footer {
    color: var(--cor-texto1);
    background-color: var(--cor-loja4);
}

/* Animações */

/* animação Carrinho */

@keyframes pop {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 600px) {

    body {
        background: var(--cor-loja3);
    }

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    /* nav,
.esquerda {
    background-color: var(--cor-loja4);
} */


    button {
        cursor: pointer;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;

        padding: 10px 30px 10px 30px;

        backdrop-filter: none;
        background: var(--cor-loja3);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        span {
            display: none;
            color: var(--cor-texto1);
            font-size: 30px;
            font-weight: 1000;

            span {
                color: var(--cor-fundo2);
            }
        }

        label {
            display: flex;
            align-items: center;

            width: 90%;

            padding: 15px;
            margin-right: 10px;

            color: var(--cor-texto2);
            background-color: var(--cor-texto1);

            border: 5px solid var(--cor-borda);
            border-radius: 20px;

            &:hover {
                border: 5px solid var(--cor-borda2);
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }

            &:focus-within {
                border: 5px solid var(--cor-borda2);
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                i {
                    color: var(--cor-borda2);
                }
            }

            span {
                color: var(--cor-texto1);
            }

            i {
                cursor: pointer;
            }

            input {
                width: 100%;

                /* padding: 10px; */
                margin: 0px 10px;

                color: var(--cor-texto2);

                border: none;
                outline: none;

            }

            button {
                display: none;
                border: none;
                background-color: transparent;
                color: var(--cor-borda);
            }
        }

        .icons-menu {
            display: flex;

            .bag-area,
            .menu-mobile {
                position: relative;
                display: inline-block;
                color: var(--cor-texto1);

                font-size: 30px;
                margin: 0px 10px;

                &:hover {
                    cursor: pointer;
                    color: var(--cor-borda);
                }
            }

            .menu-mobile {

                &.abrir {
                    right: 0;
                }
            }

            #contadorCarrinho {
                position: absolute;
                top: -8px;
                right: -8px;
                background: red;
                color: white;
                border-radius: 50%;
                padding: 2px 7px;
                font-size: 12px;
                font-weight: bold;

                &.pop {
                    animation: pop .3s ease;
                }
            }

        }

        #contadorCarrinho {
            position: absolute;
            top: -8px;
            right: -8px;
            background: red;
            color: white;
            border-radius: 50%;
            padding: 2px 7px;
            font-size: 12px;
            font-weight: bold;

            &.pop {
                animation: pop .3s ease;
            }
        }
    }

    /* Manu lateral */

    .esquerda {

        flex-direction: column;
        /* justify-content: center; */
        align-items: center;

        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        z-index: 2;

        width: 100%;
        max-width: 100%;

        padding: 10px;
        /* margin-right: 200rem; */

        height: 100vh;

        background: var(--cor-loja3);

        &.abrir {
            left: 0;
        }

        #fecharMenuMobile {
            display: flex;

            position: absolute;
            color: var(--cor-texto1);
            left: 30px;
            top: 30px;

            font-size: 20px;
        }

        .menu-left {
            color: var(--cor-texto1);
            margin: 30px 0px;


            .info-client {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px 0px;

                img {
                    width: 30%;
                    border: none;
                    border-radius: 50%;
                    margin-bottom: 15px;
                }
            }

            ul {

                width: 100%;

                display: flex;
                flex-direction: column;

                li {
                    display: flex;
                    align-items: center;

                    font-size: 16px;

                    cursor: pointer;
                    position: relative;
                    list-style: none;

                    padding: 15px;
                    margin: 0px 0px;

                    width: 100%;

                    border-radius: 5px;
                    /* border: 1px solid #ccc; */

                    &:hover {
                        background-color: var(--cor-loja4);
                    }

                    i {
                        margin-right: 10px;
                    }

                    details {

                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;

                        width: 100%;

                        summary {
                            display: flex;
                            width: 100%;

                            cursor: pointer;
                            list-style: none;
                            color: #fff;

                            span {
                                display: block;

                                backdrop-filter: blur(6px);

                                color: #fff;
                                white-space: nowrap;
                                cursor: pointer;
                            }
                        }

                        /* &[open] i {
                        animation: drop .25s ease;
                        border-left: 3px solid #175cff;
                    } */

                        &[open]>summary {

                            border-left: 2px solid var(--cor-texto1);

                            i {
                                margin-left: 10px;
                            }

                        }


                        &[open] span {

                            width: 100%;

                        }

                        .list-deitails {
                            display: flex;
                            flex-direction: column;

                            margin: 10px 0px;
                            padding: 15px;


                            span {
                                padding: 10px 10px;
                                border-left: 2px solid var(--cor-texto1);

                                &:hover {
                                    border-radius: 0px 5px 5px 0px;
                                    background-color: var(--cor-loja3);
                                }
                            }
                        }

                        /* Remove o ícone padrão da setinha */
                        &::-webkit-details-marker {
                            display: none;
                        }

                    }
                }

            }
        }

        /* Animação */
        @keyframes drop {
            from {
                opacity: 0;
                transform: translateY(-5px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

    }

    /* Carrinho */

    #fecharCarrinho {
        color: #fff;
        background: none;
        border: none;
        font-size: 22px;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 23px;
    }

    #carrinho {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100%;
        z-index: 9999;

        width: 100%;
        height: 100%;

        background: var(--cor-secundaria);
        color: #fff;
        box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);

        padding: 20px;
        transition: .4s;

        overflow-y: scroll;

        h2 {
            margin-bottom: 10px;
        }

        &.aberto {
            right: 0;
        }

        #lista-carrinho p {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
            border-bottom: 1px solid var(--cor-btn2);
        }

        #lista-carrinho button {
            background: red;
            color: white;
            border: none;
            padding: 4px 7px;
            cursor: pointer;
        }

        .btn-finalizar {
            background: var(--cor-borda2);
            color: white;
            padding: 10px;
            width: 100%;
            border: none;
            cursor: pointer;
            margin-top: 15px;

            &:hover {
                background-color: var(--cor-card);
            }
        }
    }

    main {

        margin: 6rem 2rem;
        padding-bottom: 100px;

        /* .home{} */

        /* Produtos */

        .produtos {

            header {

                display: flex;
                justify-content: center;

                img {
                    width: 100%;
                    height: 250px;

                    border-radius: 15px;
                    object-fit: cover;
                }
            }

            h1 {
                color: var(--cor-texto1);

                text-align: center;

                width: 100%;
                padding: 40px;

                /* position: sticky;
            top: 100px;
            z-index: 1;

            backdrop-filter: blur(20px);
            background-color: var(--cor-loja3); */
            }

            .lista-produtos {
                display: flex;
                flex-wrap: wrap;

                gap: 12px;

                .card {
                    width: 150px;
                    height: 300px;

                    padding: 15px;

                    border-radius: 15px;

                    background: var(--cor-card);
                    color: #fff;

                    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    text-align: center;

                    &:hover {
                        box-shadow: #2069FF 0px 3px 8px;
                        /* scale: 1.01; */
                        z-index: 0;
                    }

                    img {
                        width: 100%;
                        border-radius: 10px;

                        /* border: 1px solid #ccc; */

                        object-fit: cover;
                    }

                    .btn-comprar {
                        width: 100%;
                        padding: 10px;
                        margin-top: 10px;
                        border: none;
                        border-radius: 10px;
                        background: var(--cor-btn2);
                        color: white;
                        font-size: 16px;
                        cursor: pointer;
                    }

                    .btn-comprar:hover {
                        background: var(--cor-borda2);
                    }
                }

            }

        }
    }

    footer {
        color: var(--cor-texto1);
        background-color: var(--cor-loja4);
    }

    /* Animações */

    /* animação Carrinho */

}