body {
    background: var(--cor-loja3);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav,
.esquerda {
    background-color: var(--cor-loja4);
}

nav {
    padding-left: 300px;
}

header,
main {
    margin: 2rem 20rem;
}

button {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 
    padding-top: 30px;
    padding-bottom: 30px; */

    padding: 30px 30px 30px 300px;

    /* padding-left: 250px; */
    /* padding-right: 80px; */

    label {
        display: flex;
        align-items: center;

        width: 400px;

        padding: 15px;

        color: var(--cor-texto2);
        background-color: var(--cor-texto1);

        border: 5px solid var(--cor-borda);
        border-radius: 20px;

        &:hover {
            border: 5px solid var(--cor-borda2);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }

        &:focus-within {
            border: 5px solid var(--cor-borda2);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            i {
                color: var(--cor-borda2);
            }
        }

        span {
            color: var(--cor-texto1);
        }

        i {
            cursor: pointer;
        }

        input {
            width: 100%;

            /* padding: 10px; */
            margin: 0px 10px;

            color: var(--cor-texto2);

            border: none;
            outline: none;
        }
    }

    .bag-area {
        position: relative;
        display: inline-block;
        color: var(--cor-texto1);

        font-size: 25px;

        &:hover {
            cursor: pointer;
            color: var(--cor-borda);
        }
    }

    #contadorCarrinho {
        position: absolute;
        top: -8px;
        right: -8px;
        background: red;
        color: white;
        border-radius: 50%;
        padding: 2px 7px;
        font-size: 12px;
        font-weight: bold;

        &.pop {
            animation: pop .3s ease;
        }
    }
}

/* Manu lateral */

.esquerda {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    width: 250px;
    max-width: 300px;

    padding: 10px;
    /* margin-right: 200rem; */

    height: 100vh;

    .menu-left {

        .info-client {
            display: flex;
            flex-direction: column;
        }

        ul {

            width: 100%;

            display: flex;
            flex-direction: column;


            li {
                display: flex;
                align-items: center;

                font-size: 16px;
                color: #fff;
                cursor: pointer;
                position: relative;
                list-style: none;

                padding: 15px;
                margin: 0px 0px;

                width: 100%;

                border-radius: 5px;
                /* border: 1px solid #ccc; */

                &:hover {
                    background-color: var(--cor-loja3);
                }

                i {
                    margin-right: 10px;
                }

                details {

                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;

                    width: 100%;

                    summary {
                        display: flex;
                        width: 100%;

                        cursor: pointer;
                        list-style: none;
                        color: #fff;

                        span {
                            display: block;

                            backdrop-filter: blur(6px);

                            color: #fff;
                            white-space: nowrap;
                            cursor: pointer;
                        }
                    }

                    /* &[open] i {
                        animation: drop .25s ease;
                        border-left: 3px solid #175cff;
                    } */

                    &[open] span {

                        width: 100%;

                        &:hover {
                            color: #ccc;
                        }
                    }

                    .list-deitails {
                        display: flex;
                        flex-direction: column;
                        margin: 10px 0px;

                        span {
                            padding: 10px 0px;
                        }
                    }

                    /* Remove o ícone padrão da setinha */
                    &::-webkit-details-marker {
                        display: none;
                    }
                }
            }

        }
    }



    /* Animação */
    @keyframes drop {
        from {
            opacity: 0;
            transform: translateY(-5px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

}

/* Carrinho */

#fecharCarrinho {
    color: #fff;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 23px;
}

#carrinho {
    position: fixed;
    top: 0;
    right: -350px;
    z-index: 9999;

    width: 350px;
    height: 100vh;

    background: var(--cor-secundaria);
    color: #fff;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);

    padding: 20px;
    transition: .4s;

    h2 {
        margin-bottom: 10px;
    }

    &.aberto {
        right: 0;
    }

    #lista-carrinho p {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid var(--cor-btn2);
    }

    #lista-carrinho button {
        background: red;
        color: white;
        border: none;
        padding: 4px 7px;
        cursor: pointer;
    }

    .btn-finalizar {
        background: var(--cor-borda2);
        color: white;
        padding: 10px;
        width: 100%;
        border: none;
        cursor: pointer;
        margin-top: 15px;

        &:hover {
            background-color: var(--cor-card);
        }
    }
}

header {

    img {
        width: 100%;
        height: 480px;

        border-radius: 15px;
        object-fit: cover;
    }
}

main {

    .produtos {
        display: flex;
        gap: 20px;

        .card {
            width: 250px;
            height: 350px;

            padding: 15px;

            border-radius: 15px;

            background: var(--cor-card);
            color: #fff;

            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;

            &:hover {
                box-shadow: #2069FF 0px 3px 8px;
                scale: 1.02;
            }

            img {
                width: 100%;
                border-radius: 10px;

                /* border: 1px solid #ccc; */

                object-fit: cover;
            }

            .btn-comprar {
                width: 100%;
                padding: 10px;
                margin-top: 10px;
                border: none;
                border-radius: 10px;
                background: var(--cor-btn2);
                color: white;
                font-size: 16px;
                cursor: pointer;
            }

            .btn-comprar:hover {
                background: var(--cor-borda2);
            }
        }

    }
}

/* Produtos */

/* Animações */

/* animação Carrinho */

@keyframes pop {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}